# torch @ https://developer.download.nvidia.cn/compute/redist/jp/v502/pytorch/torch-1.13.0a0+410ce96a.nv22.12-cp38-cp38-linux_aarch64.whl
# torch @ https://developer.download.nvidia.cn/compute/redist/jp/v512/pytorch/torch-2.1.0a0+41361538.nv23.06-cp38-cp38-linux_aarch64.whl
torch @ https://developer.download.nvidia.com/compute/redist/jp/v502/pytorch/torch-1.13.0a0+d0d6b1f2.nv22.10-cp38-cp38-linux_aarch64.whl
# torchvision
# torchaudio
stable-baselines3>=1.6.1a2, <1.6.2
scipy==1.9.1
-e git+https://github.com/HarukiKozukapenguin/stable-baselines3-contrib.git@middle_layer/important_element#egg=sb3_contrib
